span.glyphicon {
	margin-right: 1px;
	margin-top: 6px;
	font-size: medium;
}

.search-input {
	display: inline;
	width: auto;
	margin-top: 3px;
	height: 32px;
	padding: 5px 27px 6px 12px;
	font-size: 12px;
	line-height: 1;
	color: #292f33;
	background-color: #f5f8fa;
	border: 1px solid #e1e8ed;
	border-radius: 21px;
	transition: all .2s ease-in-out;
}

.search-box{
	background-color: transparent;
	border: none;
}

.search-icon {
	background: transparent;
	border: none;
	position: relative;
	right: -15%;
	display: inline-block;
	width: auto;
	height: auto;
	cursor: pointer;
	vertical-align: baseline;
}

.new-tweet-btn {
	color: white;
	background-color: #0084B4;
	margin: 7px 2px;
	padding: 2px 21px 6px 17px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
}

.new-tweet-btn span.glyphicon {
	margin-right: 2px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.tweet-header {
padding-bottom: 20px;
}

.navbar-brand > img {
display: inline-block;
position: relative;
left: 50%;
}


.content {
  position: relative;
  margin: 15px 0;
  padding: 10px 30px 10px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}